* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    height: 70px;
}

h2 {
    display: inline-block;
    float: left;
    padding: 15px 24px;
    text-transform: uppercase;
}

header h2 a:hover {
    color: red;
}

header h2 a {
    transition: .3s;
}

header ul {
    float: right;
}

header ul li {
    padding: 24px;
    display: inline-block;
}

header ul li a:hover {
    color: red;
}

header ul li a {
    transform: .3s;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

.mobile-menu {
    float: right;
    display: none;
    padding: 18px;
}

.mobile-menu:hover {
    cursor: pointer;
}

#check {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgb(16, 47, 80, .9);
    transition: .3s;
    z-index: 9999;
}

.sidebar ul li a {
    color: white;
}

.sidebar ul li {
    padding: 24px;
    display: block;
    transition: .3s;
    transition-property: background-color;
}

.sidebar ul li:hover {
    background-color: red;
}

#check:checked~.sidebar {
    left: 0;
}

.banner {
    background-color: rgb(78, 78, 238);
}

section {
    padding: 50px 0;
}

.banner img {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 3px 5px white;
    margin-bottom: 10px;
}

.banner h3,
.banner p,
.banner span {
    color: white;
}

.banner h3 {
    margin-bottom: 10px;
}

.banner p {
    font-size: 18px;
}

.banner-left {
    padding-left: 24px;
}

section h4 {
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}

section h4::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: #ddd;
    left: calc(50% - 60px);
}

section h4::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 40px;
    height: 4px;
    background-color: red;
    left: calc(50% - 20px);
}

#about p {
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
}

#skill,
#contact {
    background-color: #f9f9f9;
}

#skill .bar {
    height: 30px;
    background-color: white;
    border: 1px solid;
    margin-top: 5px 0 20px 0;
}

.bar .nilai {
    height: 30px;
    background-color: red;
    display: inline-block;
    color: whitesmoke;
    text-align: center;
}

.html {
    width: 80%;
}

.css {
    width: 80%;
}

.js {
    width: 50%;
}

.col-4 {
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
    margin-bottom: 15px;
}

.col-4 a:hover img {
    transform: scale(1.2);
}

.col-4 img {
    width: 100%;
}

.col-3 {
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 50px 10px;
}

.col-3 h5 {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.fa-solid {
    color: black;
    font-size: 24px;
}

.fa-brands {
    color: black;
    font-size: 24px;
}

footer {
    background-color: #333;
    padding: 50px;
    text-align: center;
}

footer small {
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }

    header ul {
        display: none;
    }

    .col-4 {
        width: 50%;
    }

    .col-3 {
        width: 100%;
    }

}